.medical-insurance-price-result {
  text-align: center;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -ms-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  border: 1px solid #ddd;
  padding: 3em 2em;
  background: #ffffff;

  img {
    max-width: 220px;
  }
  h3 {
    padding-top: 10px;
    font-weight: bold;
  }
}
