@import "~react-responsive-carousel/lib/styles/carousel.min.css";

/*-- banner --*/

.carousel-caption h2,
.carousel-caption h3 {
  font-size: 4em;
  font-weight: 700;
  letter-spacing: 2px;
}

.carousel-caption h2 span,
.carousel-caption h3 span {
  font-weight: 600;
}

.carousel-caption p {
  letter-spacing: 7px;
  font-size: 1.1em;
  font-weight: 300;
  color: #fff;
  margin: 1em 0 2em 0;
}

.carousel-caption a {
  color: #fff;
  letter-spacing: 1px;
  padding: 11px 20px;
  background: none;
  font-size: 0.9em;
  border-radius: 0;
  border: 1px solid #fff;
}

.carousel-caption a:hover {
  background: #ee4f4f;
  border: 1px solid #ee4f4f;
}

.codes {
  padding: 5em 0;
  background: #fff;
}

.codes.agileitsbg2 {
  background: #E74C3C;
  background-image: -webkit-linear-gradient(#ff9d2f, #ff6126);
  background-image: -moz-linear-gradient(#ff9d2f, #ff6126);
  background-image: -ms-linear-gradient(#ff9d2f, #ff6126);
  background-image: linear-gradient(#ff9d2f, #ff6126);
  padding-bottom: 10em;
}

.codes.agileitsbg3 {
  background: #3498DB;
  padding-bottom: 10em;
}

.codes.agileitsbg4 {
  background: #2ECC71;
  padding-bottom: 10em;
}

.carousel.slide.grid_3.grid_4 {
  border-top: 10px solid #3ACFD5;
  border-bottom: 10px solid #3a4ed5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  -webkit-background-size: 10px 100%;
  -moz-background-size: 10px 100%;
  background-size: 10px 100%;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
  background-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
  background-image: -o-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -o-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
  background-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%), linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
}

.carousel-indicators {
  bottom: 5%;
  left: 50%;
}

.carousel-caption {
  position: absolute;
  top: 0;
  min-height: 650px !important;
  padding-top: 5em;
  text-align: center;
}

.carousel-control {
  line-height: 35em;
}

.carousel-indicators li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 4px;
  border: 2px solid #fff;
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0px 4px;
  border: 2px solid #ff3c41;
  background: #ff3c41;
}

/* Show it is fixed to the top */

.top-buttons {
  margin: 2em auto 0;
  text-align: center;
  //width: 45%;
}

.bnr-button {
  display: inline-block;
}

.bnr-button a {
  text-decoration: none;
  padding: .8em 1.5em;
  text-align: center;
  border: solid 2px #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.75em;
  display: inline-block;
}

a.act {
  border: solid 2px #ff3c41;
  background-color: #ff3c41;
}

.bnr-button a:hover {
  border: solid 2px #ff3c41;
  background-color: #ff3c41;
}

a.two.scroll {
  margin-left: 10px;
}

/*-- //banner --*/

@media(max-width:1280px){
  .carousel-caption h2, .carousel-caption h3 {
    font-size: 3.5em;
  }
  .carousel-caption {
    min-height: 630px !important;
    padding-top: 10em;
    text-align: center;
  }
}
@media(max-width:1080px){
  .top-buttons {
    margin: 2em auto 0;
    //width: 45%;
  }
}
@media(max-width:1050px){
  .carousel-indicators {
    bottom: 14%;
    left: 50%;
  }
  #quote-carousel .carousel-indicators {
    left: 40%;
    top: auto;
    bottom: -26px;
  }
}
@media(max-width:1024px){
  .carousel-caption h2, .carousel-caption h3 {
    font-size: 3em;
    letter-spacing: 1px;
  }
}
@media(max-width:991px){
  .carousel-caption p {
    letter-spacing: 6px;
    font-size: 1em;
    margin: 1em 0 1em 0;
  }
  .top-buttons {
    margin: 2em auto 0;
    //width: 55%;
  }
  .carousel-caption {
    min-height: 584px !important;
    padding-top: 5em;
    text-align: center;
  }
}
@media(max-width:900px){
  .carousel-caption {
    min-height: 565px !important;
    padding-top: 5em;
    text-align: center;
  }

}
@media(max-width:800px){
  .carousel-caption h2, .carousel-caption h3 {
    font-size: 2.5em;
    letter-spacing: 1px;
  }
  .banner_bottom, .works, .banner_bottom, .blog_sec, .tesimonials {
    padding: 4em 0;
  }
}
@media(max-width:768px){

}
@media(max-width:767px){
  #quote-carousel .carousel-indicators {
    left: 10%;
    top: auto;
    bottom: -26px;
  }
}
@media(max-width:736px){
  .top-buttons {
    margin: 2em auto 0;
    //width: 55%;
  }
  .carousel-caption {
    min-height: 523px !important;
    //padding-top: 13em;
    text-align: center;
  }
  #quote-carousel .carousel-indicators {
    left: 10%;
    top: auto;
    bottom: -26px;
  }
  .carousel-control {
    line-height: 32em;
  }
}
@media(max-width:684px){
  .carousel-caption p {
    letter-spacing: 5px;
    font-size: 0.9em;
    margin: 1em 0 0em 0;
  }
  .carousel-caption {
    min-height: 483px !important;
    //padding-top: 12em;
    text-align: center;
  }
}
@media(max-width:667px){
  .carousel-caption p {
    letter-spacing: 5px;
    font-size: 0.9em;
    margin: 1em 0 0em 0;
  }
  .carousel-caption {
    min-height: 483px !important;
    //padding-top: 12em;
    text-align: center;
  }
}
@media(max-width:640px){
  .top-buttons {
    margin: 2em auto 0;
    //width: 60%;
  }
  .carousel-caption h2, .carousel-caption h3 {
    font-size: 2.3em;
    letter-spacing: 1px;
  }
}
@media(max-width:600px){
  .top-buttons {
    margin: 2em auto 0;
    //width: 45%;
  }
  .carousel-caption {
    min-height: 450px !important;
    //padding-top: 11em;
    text-align: center;
  }
  .carousel-indicators {
    bottom: 10%;
    left: 50%;
  }
}
@media(max-width:568px){
  .top-buttons {
    margin: 2em auto 0;
    //width: 75%;
  }
  .carousel-caption h2, .carousel-caption h3 {
    font-size: 2.2em;
    letter-spacing: 1px;
  }
  .carousel-caption {
    min-height: 428px !important;
    //padding-top: 11em;
    text-align: center;
  }
  .carousel-control {
    line-height: 29em;
  }
  .banner_bottom, .works, .banner_bottom, .blog_sec, .tesimonials {
    padding: 3em 0;
  }
  .inner_sec_info_wthree_agile {
    margin-top: 2em;
  }
  .error-404 form {
    margin: 0 auto;
    width: 90%;
    text-align: center;
  }
}
@media(max-width:480px){
  .top-buttons {
    margin: 2em auto 0;
    //width: 54%;
  }
  .carousel-caption h2, .carousel-caption h3 {
    font-size: 1.8em;
    letter-spacing: 1px;
  }
  .top-buttons {
    margin: 1em auto 0;
    //width: 57%;
  }
  .carousel-caption {
    min-height: 406px !important;
    //padding-top: 11em;
    text-align: center;
  }
  #quote-carousel .carousel-indicators {
    left: 19%;
    top: auto;
    bottom: -26px;
  }
}
@media(max-width:440px){
  .carousel-caption p {
    letter-spacing: 4px;
    font-size: 0.9em;
    margin: 1em 0 0em 0;
  }
}
@media(max-width:414px){
  .carousel-caption h2, .carousel-caption h3 {
    font-size: 1.8em;
    letter-spacing: 1px;
  }
}
@media(max-width:412px){
  .carousel-caption h2, .carousel-caption h3 {
    font-size: 1.7em;
    letter-spacing: 1px;
  }

}
@media(max-width:384px){
  .top-buttons {
    margin: 1em auto 0;
    //width: 65%;
  }
  .carousel-caption {
    min-height: 380px !important;
    //padding-top: 10em;
  }
  .carousel-control {
    line-height: 24em;
  }
}
@media(max-width:375px){
  .top-buttons {
    margin: 1em auto 0;
    //width: 65%;
  }
}
@media(max-width:320px){
  .carousel-caption h2, .carousel-caption h3 {
    font-size: 1.4em;
    letter-spacing: 1px;
  }
  .top-buttons {
    margin: 1em auto 0;
    //width: 78%;
  }
  .carousel-caption {
    min-height: 339px !important;
    //padding-top: 9em;
  }
  .carousel-indicators {
    bottom: 6%;
    left: 50%;
  }
}

.carousel .slide .item-block::after {
  content: ' ';
  display: table;
  background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5));
  width: 100%;
  height: 101%;
  top: 0;
  left: 0;
  position: absolute;
}
/*--//responsive--*/
